
<div class="back">
    <div class="div_singup">
        <img src="logo.jpg" alt="logo">
        <button type="button" id="btn_login" routerLinkActive="active" routerLink="/login">✕</button>
        <p>Registrati</p>
        <form [formGroup]="registrazioneForm" (ngSubmit)="registrazione();" >
        <div class="form-group">
            <label for="username" id="lbl">Nome utente</label><br>
            <span class="material-icons">
                person 
                </span>
            <input type="text" id="username" formControlName="username" >
        </div>
        <div class="form-group">
            <span class="material-icons">
                enhanced_encryption
            </span>
            <label for="password" id="lbl">Password</label><br>
            <input [type]="passwordType" id="password"  formControlName="password" >
            <span class="material-icons" (click)="togglePassword()">
                visibility_off
                </span>
        </div>
        <button type="submit" id="btn_sub">Registrati</button>
    </form>
    </div>
</div>
