
<div class="registrazioneForm">
    <img src="logo.jpg" alt="logo">
    <br>
    <button type="button" routerLinkActive="active" routerLink="/login">x</button>
    <p>Registrati</p>
    <form [formGroup]="registrazioneForm" (ngSubmit)="registrazione();" >
    <div class="form-group">
        <label for="username">Nome utente</label><br>
        <span class="material-icons">
            person 
            </span>
        <input type="text" id="username" formControlName="username" >
    </div>
    <div class="form-group">
        <span class="material-icons">
            enhanced_encryption
            </span>
        <label for="password">Password</label><br>
        <input [type]="passwordType" id="password"  formControlName="password" >
        <span class="material-icons" (click)="togglePassword()">
            visibility_off
            </span>
    </div>
    <br><br>
    <button type="submit" id="btnSub">Registrati</button>
</form>
</div>
