<div class="footer grid-container">
    <a href="https://www.instagram.com/?hl=it"><img src="assets/img/instagram (1).png" alt="none" class="grid-item"></a>
    <a href="https://www.facebook.com"><img src="assets/img/facebook (1).png" alt="none" class="grid-item"></a>
    <a href="https://www.twitter.com"><img src="assets/img/twitter (1).png" alt="none" class="grid-item"></a>
    <a href="https://www.discord.com"><img src="assets/img/discord (1).png" alt="none" class="grid-item"></a>
    <div class="button">
    <button (click)="temaChiaro()" id="btn_theme">TEMA CHIARO</button>
    <button (click)="temaScuro()" id="btn_theme">TEMA SCURO</button>
</div>
</div>