<select #filtro>
    <option value="all">Tutto</option>
    <option value="pref">preferiti</option>
    <option value="nasc">nascosti</option>
</select>

<button (click)="filtra(filtro.value)">Filtra</button>

<ul>
    <li>
        <div  *ngFor="let item of lista" >
         
                <p>{{item.nome}}</p>
                <p>{{item.autore}}, {{item.Rating}}</p>
                <button (click)="addPreferiti(item.id)">PREFERITI</button>
                <button (click)="nascondi(item.id)">NASCONDI</button>
                <ng-container *ngIf="item.preferito === true">
                    <p appHighlight>X</p>
                </ng-container>
            
            
        </div>
    </li>
</ul>
