<!--<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
        <mdb-navbar-brand>
            <a  class="navbar-brand">Navbar</a>

        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link waves-light" mdbWavesEffect>Homepage </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Cards </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Cards </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Feedback </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Profilo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Esci </a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
-->

<button  (click)="filtra('all')" id="distanziatore">Tutti</button>
<button  (click)="filtra('pref')">Preferiti</button>
<button  (click)="filtra('nasc')">Nascosti</button>



<div  *ngFor="let item of cards" >
    <ng-container *ngIf="!item.nascosto || filtroValue === 'nasc'">
        <mat-card class="base">
            <div class="grid-container">
                <div class="grid-item item1"><img mat-card-image src="{{item.immagine}}" alt="None"></div>
                <div class="grid-item item2"><button mat-button><img src="assets/img/like.png" alt="None"></button></div>
                <div class="grid-item item3"><button mat-button><img src="assets/img/share.png" alt="None"></button></div>  
            </div>
            <mat-card-title>{{item.nome}}</mat-card-title>
            <mat-card-subtitle>{{item.autore}}</mat-card-subtitle> 
            <button (click)="apriD(item.id)">Dettaglio</button> 
            <mat-card-content>
                Rate: {{item.Rating}}   <br>
                <button (click)="addPreferiti(item.id,filtroValue)">PREFERITI</button>
                <button  *ngIf="item.nascosto === false" (click)="nascondi(item.id,filtroValue)">NASCONDI</button>
                <button  *ngIf="item.nascosto === true"(click)="nascondi(item.id,filtroValue)">MOSTRA</button>
                <ng-container *ngIf="item.preferito === true">
                    <span appHighlight>☆</span>
                </ng-container>
            </mat-card-content>    
        </mat-card>
    </ng-container>
</div>
<app-footer></app-footer>
