
<div class="home">
    <h1>Summer</h1>
    <img src="assets/img/logorid.png" alt="none" class="logo">
    <br><br>
    <p> A new streaming music platform ! <br><br>
        Explore an infinity of tracks of different styles; for example <br>
         we have some hottest tracks from the top 50 global chart. <br> 
        This platform is created by :</p>
                <ul>
        <li>
            Marco Bertelli,
        </li>
        <li>
            Louis Guiniot,
        </li>
        <li>
            Thomas Rossi &
        </li>
        <li>
            Zanni Lorenzo.
        </li>
    </ul>  
        <img src="assets/img/collage.PNG" alt="none" class="collage">
        <br><br>
        <button (click)="temaChiaro()" id="btn_theme">TEMA CHIARO</button>
        <button (click)="temaScuro()" id="btn_theme">TEMA SCURO</button>
        
    <app-carosello></app-carosello>
      <p><ngb-progressbar type="primary" [value]="75"> STATO SVILUPPO </ngb-progressbar></p>

        <div class="footer grid-container">
            <img src="assets/img/instagram (1).png" alt="none" class="grid-item">
            <img src="assets/img/facebook (1).png" alt="none" class="grid-item">
            <img src="assets/img/twitter (1).png" alt="none" class="grid-item">
            <img src="assets/img/discord (1).png" alt="none" class="grid-item">
          </div>
        </div>
