<!--prova carosello-->
<ngb-carousel>
    <br><br>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="./assets/img/the box.jpg.jpg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <h3>The box</h3>
          <p>Roddy Ricch</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img-02.jpeg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
          <h3>Title Goes Here</h3>
          <p>Consectetur tortor volutpat pretium.</p>
        </div>
      </ng-template>
    </ngb-carousel>