<!--prova carosello-->
<ngb-carousel>
    <br><br>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="./assets/img/the box.jpg.jpg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <h3>The box</h3>
          <p>Roddy Ricch</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="./assets/img/death bed ( coffe for your head ).jpg.jpg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
          <h3>death bed ( coffe for your head )</h3>
          <p>Powfu, beabadoobee</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/img/dualipa.jpg" alt="Angular Carousel 3">
        </div>
        <div class="carousel-caption">
          <h3>Don't start now</h3>
          <p>Dua Lipa</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/img/travis.jpg" alt="Angular Carousel 4">
        </div>
        <div class="carousel-caption">
          <h3>Astroworld</h3>
          <p>Trevis Scott</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/img/weekend.jpg" alt="Angular Carousel 5">
        </div>
        <div class="carousel-caption">
          <h3>Blinding lights</h3>
          <p>The Weekend</p>
        </div>
      </ng-template>
    </ngb-carousel>