   <!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
        <mdb-navbar-brand>
            <a  class="navbar-brand">Navbar</a>

        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link waves-light" mdbWavesEffect>Homepage </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Lista </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Cards </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Feedback </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Profilo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Esci </a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
-->

<button  (click)="filtra('all')" id="distanziatore">Tutti</button>

<button  (click)="filtra('pref')">Preferiti</button>

<button  (click)="filtra('nasc')">Nascosti</button>

        <div  *ngFor="let item of lista" class="distanziatore" >
            <ng-container *ngIf="!item.nascosto || filtroValue === 'nasc'">
                <mat-card class="base">
                    <div class="grid-container">
                        <div class="item1">
                            <img mat-card-image src="{{item.immagine}}" alt="None">
                        </div>
                        <div class="item2">
                            <mat-card-title>{{item.nome}}</mat-card-title>
                        </div>
                        <div class="item3">
                            <mat-card-subtitle>{{item.autore}}</mat-card-subtitle>
                        </div>
                        <div class="item4">
                            <button (click)="addPreferiti(item.id,filtroValue)"><img src="assets/img/like.png" alt="None" ></button>
                        </div>
                        <div class="item5">
                            <button mat-button><img src="assets/img/share.png" alt="None" ></button>
                        </div>
                        <div class="item6">
                            <div class="dropdown">
                                <button class="dropbtn"><img src="assets/img/puntiVert.png" alt=""></button>
                                <div class="dropdown-content">
                                <div *ngIf="item.nascosto === true">
                                    <button  (click)="nascondi(item.id,filtroValue)">N</button>  nascondi
                                </div>
                                <div *ngIf="item.nascosto === false" >
                                    <button  (click)="nascondi(item.id,filtroValue)">NASCONDI</button>
                                </div>
                                <button (click)="apriD(item.id)">Dettaglio</button> 
                                </div>
                              </div>
                        </div>   
                    </div>    
                </mat-card>
            </ng-container>
        </div>

