.div_login{
    margin : 0 auto;
    display: table;
    background-color:rgb(2,0,38);
    background: linear-gradient(90deg, rgba(0, 39, 55)  0%, rgb(56, 117, 163) 100%);;
    border-radius: 15px;
    color : white;
    text-align: center;
    width: 200px;
}

.back{
    background-color:rgba(45, 49, 51, 0.507);
    margin: 0 auto;
    display: table;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
}


#lbl{
    font-size: 12px;
    border : 1px white solid;
}

p {
    font-size: 20px;
}

#error{
    font-size: 12px;
    color : red;

}

#btn_singup{
    background-color: rgb(0, 29, 41);
    position: absolute;
    margin-top: 20px;
    margin-left: 60px;
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 30px;
}

#btn_sub{
    width: 80%;
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 10px;
    border: none;
    height: 30px;
    font-size: 15px;
}

.form-group{
    border : 1px white solid;
}

.first_section span{
    position: absolute;
    padding: 10px; 
    color: white; 
    min-width: 50px; 
    text-align: center; 
}

.first_section{
    width: 100%; 
    margin-bottom: 10px; 
}
