<div>
    <img src="logo.jpg" alt="logo">
    <br>
    <button type="button">+</button>
    <p>Accedi</p>
    <form [formGroup]="loginForm" (ngSubmit)="login();" >
    <div class="form-group">
        <label for="username">Nome utente</label>
        <input type="text" id="username" formControlName="username" >
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password"  formControlName="password" >
    </div>
    <button type="submit" id="btnSub">Login</button>
</form>
</div>
