.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    margin-left: 25px;
    margin-right: 25px;
}
  
.grid-item {
   color: white;
}
 
.item1 {
    grid-column: 1 ;
    grid-row: 1 ;
    width: 300px;
    height: 300px;
}

.item2 {
    grid-column: 2;
    grid-row: 1 /span 1;
    
}

.item2 {
    grid-column: 2;
    grid-row: 2 / span 1;
    
}