<div class="home">
    <h1>Summer</h1>
    <img src="assets/img/logorid.png" alt="none" class="logo">
    <br><br>
    <p> A new streaming music platform ! <br><br>
        Explore an infinity of tracks of different styles; for example <br>
         we have some hottest tracks from the top 50 global chart. <br> 
        This platform is created by :</p>
                <ul>
        <li>
            Marco Bertelli,
        </li>
        <li>
            Louis Guiniot,
        </li>
        <li>
            Thomas Rossi &
        </li>
        <li>
            Zanni Lorenzo.
        </li>
    </ul>  
        <img src="assets/img/collage.PNG" alt="none" class="collage">
        

    <app-carosello></app-carosello>
      <p><ngb-progressbar type="primary" [value]="75"> STATO SVILUPPO </ngb-progressbar></p>

        <app-footer></app-footer>
        </div>
