<div class="grid-container">
    <div *ngFor="let menuItem of menuList">
      <button (click)="navigate(menuItem.url)" class="grid-item"> {{menuItem.description}}</button>
    </div>  
    <ng-container *ngIf="ricerca">
      <input type="text" #nome >
      <button (click)="cerca(nome.value)" class="bottone"><img src="assets/img/search.png" alt="none"></button>
    </ng-container>
    <ng-container *ngIf="loggato()">
      <button (click)="logout()" class="bottone">LOGOUT</button>
    </ng-container>
  </div>
  
