<div class="profiloForm">

    <p>Benvenuto</p>
    <p id="bold_info">{{user.name}} {{user.surname}}</p>
    

    <div class="informations" [hidden]= "isShow">
        <div class="info">
            <div class="item1"><label for="name">Name</label></div>
            <div class="item2">{{user.name}}</div>
        </div>

        <div class="info">
            <div class="item1"><label for="surname">Cognome</label></div>
            <div class="item2">{{user.surname}}</div>
        </div>

        <div class="info">
            <div class="item1"><label for="gender">Gender</label></div>
            <div class="item2">{{user.gender}}</div>
        </div>

        <div class="info">
            <div class="item1"><label for="email">Email</label></div>
            <div class="item2">{{user.email}}</div>
        </div>

        <div class="info">
            <div class="item1"><label for="telephone">Telephone</label></div>
            <div class="item2">{{user.telephone}}</div>
        </div>
            
        <button (click)="cliccato(); hide()" id="btn_edit">Modifica</button>
    </div>

    
    
    <ng-container *ngIf="daModificare">
        <!-- la form si nasconde anche senza inserire [hidden] = "isShow_form" -->
        <form [formGroup]="profiloForm" (ngSubmit)="onSubmit(profiloForm.value)">
            <div class="form-group">
                <div class=item1_edit>
                    <label for="name">Name</label>
                </div>
                
                <div class="item2_edit">
                    <input type="text" id="name" formControlName="name" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="item1_edit">
                    <label for="surname">Surname</label>
                </div>
                
                <div class="item2_edit">
                    <input type="text" id="surname" formControlName="surname" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="item1_edit">
                    <label for="gender">Gender</label>
                </div>
                
                <div class="item2_edit">
                    <input type="text" id="gender" formControlName="gender" placeholder="">
                </div>
                
            </div>

            <div class="form-group">
                <div class="item1_edit">
                    <label for="email">Email</label>
                </div>
                
                <div class="item2_edit">
                    <input type="text" id="email" formControlName="email" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="item1_edit">
                    <label for="telephone">Telephone</label>
                </div>
                
                <div class="item2_edit">
                    <input type="text" id="telephone" formControlName="telephone" placeholder="">
                </div>
            </div>
            
            <div class="buttons">
                <button type="submit" id="btn_sub" (click)="hide_form()">conferma</button>
                <button type="button" id="btn_reset" (click)="hide_form()">annulla</button>
            </div>
        </form>
    </ng-container>
    
</div>
