ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba($color: #000000, $alpha: 0.0);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  
  li :hover {
    border-bottom:2px solid white;
  }
  
  .bottone {
    background-color:rgba($color: #000000, $alpha: 0.0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 16px 48px;
  }

  .cerca{
    position: fixed;
      right: 30;
      top: 10;
    }